{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
{{ block.super }}
    <style>
    .highlight {
     display: block !important;
}

    </style>
<script type="text/javascript" src="{% static 'admin/js/purchase_form.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
<div class="form-row">
  <label for="purchase_date_filter">{% trans 'Filter Purchases by Date' %}</label>
  <select id="purchase_date_filter" name="purchase_date_filter">
    <option value="" selected>{% trans 'Select Date' %}</option>
    {% for date in unique_dates %}
      <option value="{{ date|date:'Y-m-d' }}">{{ date|date:'d-M-Y' }}</option>
    {% endfor %}
  </select>
</div>
{% endblock %}


